"on":
    push:
        branches:
            - master
name: Deploy to token-transfer-api
jobs:
    porter-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set Github tag
              id: vars
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
            - name: Setup porter
              uses: porter-dev/setup-porter@v0.1.0
            - name: Deploy stack
              timeout-minutes: 30
              run: porter apply
              env:
                PORTER_APP_NAME: token-transfer-api
                PORTER_CLUSTER: "5323"
                PORTER_DEPLOYMENT_TARGET_ID: a14133da-9056-46aa-ac67-7293bb27fb00
                PORTER_HOST: https://dashboard.porter.run
                PORTER_PROJECT: "17894"
                PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
                PORTER_TOKEN: ${{ secrets.PORTER_APP_17894_1076162848 }}
